<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin login</title>
</head>
<body bgcolor="white">
   <form action="http://127.0.0.1:5000/adminlogin" method="POST">
       <center>
           <br>
           <br>
 <table>
    <th>USER ID</th>
     <th>PASSWORD</th>
     <tr>
     <td>
  <input type="text" name="id">
     </td>
     <td>
  <input type="password" name="password">
     </td>
     </tr>
     <br><br><br>
    </table>
           <br><br>
       <input type="submit" value="Submit" style="color:white;background-color:#175963;height:30px;width:90px">




       </center>
</form>
   <br><br><br><br><br><br><br><br><br>
<a href="/home">Go to homepage</a>
</body>
</html>