<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
</head>
<body bgcolor="white">
<br>
<br>
<br>
<center>
<form action="http://127.0.0.1:5000/addstudent/<s>" method="POST">
  <input type="submit" value="add student" style="color:white;background-color:#175963;height:30px;width:90px" >
</form>
    <br>
    <br>
    <br>

<form action="http://127.0.0.1:5000/updatestudent" method="POST">
  <input type="submit" value="update student" style="color:white;background-color:#175963;height:30px;width:110px">
</form>
</center>
<br><br><br><br><br><br><br><br><br>
<a href="/home">Go to homepage</a>
</body>
</html>