<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <center>
    <img src="/static/cmr.jpeg" height="120" width="550">
    </center>
</head>
<body bgcolor="white">
<br>
<br>
<br>
<br>
<center>
<form action="http://127.0.0.1:5000/adminpage" method="POST">
  <input type="submit" value="admin" style="color:white;background-color:#175963;height:30px;width:90px" >
    <br>
    <br>

</form>
<form action="http://127.0.0.1:5000/studentpage" method="POST">
  <input type="submit" value="student" style="color:white;background-color:#175963;height:30px;width:90px" >
</form>
    </center>
<marquee direction="right" > </marquee>

</body>
</html>