<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>studentinfo</title>
</head>
<body bgcolor="white">
<center>
    <br><br><br><br>
<form action="http://127.0.0.1:5000/studentinfo" method="POST">
   <table align="center" frame="box" bgcolor="Gray">
       <tr>
           <td>
           NAME:
           </td>
           <td>
  <input type="text" name="name">
           </td>
       </tr>
       <tr>
           <td>
           ROLL NO:
           </td>
           <td>
           <input type="text" name="rollno">
           </td>
       </tr>
</table>
    <br><br>
<input type="submit" value="Submit" style="color:white;background-color:#175963;height:30px;width:90px">
</form>
 </center>

<p>{{s}}</p>
<br><br><br><br><br><br><br><br>

<a href="/home">Go to homepage</a>

</body>
</html>