<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> student</title>
    <h1 align="center" ><font color="green">Marks Info</font></h1>
</head>
<body bgcolor="white">
   <center>
   <form action="http://127.0.0.1:5000/studentlogin" method="POST">
       <table align="center" bgcolor="SlateGray" frame="box">
           <br><br><br><br>
           <tr>
               <td>ROLL NO   : </td>
               <td><input type="text" name="rollno"></td>
           </tr>
           <br>
           <tr>
               <td>SEMESTER : </td>
           <td><input type="text" name="sem"></td>
           </tr>
        </table>
       <br><br><br>
       <input type="submit" value="Submit" style="color:white;background-color:#175963;height:30px;width:90px">

</form>
   </center>
   <br><br><br><br><br><br><br><br><br><br>
<a href="/home">Go to homepage</a>
</body>
</html>