<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body bgcolor="white">
<center>
    <br><br><br><br>
 <form action="http://127.0.0.1:5000/updatedata" method="POST">
  ROLL NO:<br>
  <input type="text" name="id"><br>
   SEMESTER:<br>
  <input type="text" name="sem"><br><br>
       <input type="submit" value="Submit" style="color:white;background-color:#175963;height:30px;width:90px">
 </form>
  <br>
     <br>
     <br>
     <p>{{ k }}</p>
</center>
<br><br><br><br><br><br><br><br><br>
<a href="/home">Go to homepage</a>
</body>
</html>